<?xml version="1.0" encoding="UTF-8"?>
<!--

       Copyright 2009-2019 the original author or authors.

       Licensed under the Apache License, Version 2.0 (the "License");
       you may not use this file except in compliance with the License.
       You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

       Unless required by applicable law or agreed to in writing, software
       distributed under the License is distributed on an "AS IS" BASIS,
       WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
       See the License for the specific language governing permissions and
       limitations under the License.

-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.wpy.demo.dao.UserMapper">
  <resultMap id="BaseResultMap" type="org.wpy.demo.model.User">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" typeHandler="org.wpy.demo.handler.MyTypeHandler"/>
    <result column="age" jdbcType="INTEGER" property="age" />
    <result column="gender" jdbcType="VARCHAR" property="gender" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from test_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.wpy.demo.model.User" >
    insert into test_user (id, name, age,gender)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR,typeHandler=org.wpy.demo.handler.MyTypeHandler}, #{age,jdbcType=INTEGER},
      #{gender,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="org.wpy.demo.model.User">
    update test_user
    set name = #{name,jdbcType=VARCHAR},
      age = #{age,jdbcType=INTEGER},
      gender = #{gender,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap" flushCache="true">
    select id, name, age, gender
    from test_user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByPrimaryKeyAndName"  resultMap="BaseResultMap">
    select id, name, age, gender
    from test_user
    where id = #{id,jdbcType=INTEGER}
    and name=#{name}
  </select>
  <select id="selectByName" parameterType="String" resultMap="BaseResultMap">
    select id, name, age, gender
    from test_user
    where  name=#{name}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, name, age, gender
    from test_user
  </select>

  <select id="selectByPrimaryKeyAndName2" resultMap="BaseResultMap">
    select id, name, age, gender
    from test_user
    where id = #{id,jdbcType=INTEGER}
    and name=#{name}
  </select>

  <select id="selectUsersByNames" resultMap="BaseResultMap">
    select id, name, age, gender
    from test_user
    where name=#{list[0]}
  </select>

  <select id="selectByMap" resultMap="BaseResultMap">
    select id, name, age, gender
    from test_user
    where name=#{names[0]}
    <if test="flag='a'">
      order by id
    </if>
  </select>
</mapper>